{% extends "layout.html" %}
{% block content %}
<div class="container pt-5">

    <form action="" method="post" , class="mb-2">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.book(class="form-control", placeholder="Search for a book", type="search")}}
            <button type="submit" id="btnFetch" class="btn btn-outline-primary" style="width: 5em;">search</button>
        </div>
    </form>

    {%if books%}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Series</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {%for book in books %}
            <tr>
                <th scope="row">{{book.number}}</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.series}}</td>
                <td><a class="btn btn-link" href="{{ url_for('user.download', book_no=book.number) }}">Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}




</div>
{% endblock %}